---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AnnouncementBar from '../components/AnnouncementBar.astro';
---

<Layout title="Limova.ai - Accueil">
  
  <Header />

  <div class="main-wrapper">
      <section class="section cc-space">
          <div class="container" style="height: 50vh; display:flex; align-items:center; justify-content:center;">
              <h1 class="h1 text-center">Test d'intégration du Header</h1>
          </div>
      </section>
  </div>

  <AnnouncementBar />

</Layout>