<div data-theme="light" data-nav-bar-height="" class="header">
  <nav class="nav_wrap">
    <div class="nav_inner">
      
      <div class="nav_left_row">
        <a href="/" data-nav-button="" aria-current="page" class="nav_logo w-inline-block w--current">
           <img src="https://cdn.prod.website-files.com/6831d8ad2505f0a9d75030e4/683234d3065607a97217435f_Logo.svg" width="148" alt="Limova Logo" />
        </a>
      </div>

      <div class="nav_menu">
        <div class="nav_menu_links_wrap">
          <div class="nav_menu_links_list cc-legend">
            <a href="/legend" data-menu-reveal="" class="navlink w-inline-block">
              <div class="navlink_text">Legend</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" class="nav-link-arrow">
                <path d="M0.230469 5.09969H8.95047L4.57047 0.679688H7.03047L11.7705 5.41969V6.57969L7.03047 11.3197H4.57047L8.95047 6.85969H0.230469V5.09969Z" fill="currentColor"></path>
              </svg>
            </a>
          </div>
          <div class="nav_menu_links_divider hide-td cc-legend"></div>
          
          <div class="nav_menu_links_list">
            <a href="/agents-ia" data-menu-reveal="" class="navlink w-inline-block">
              <div class="navlink_text">Agents IA</div>
            </a>
            <a href="https://www.limova.ai/agents/charly" data-menu-reveal="" class="navlink w-inline-block">
              <div class="navlink_text">Charly<span class="text-white weight-500">+</span></div>
            </a>
          </div>

          <div class="nav_menu_links_divider hide-td"></div>

          <div class="nav_menu_links_list">
            <a href="/pricing" data-menu-reveal="" class="navlink w-inline-block">
              <div class="navlink_text">Nos Offres</div>
            </a>
            <a href="#faq" data-menu-reveal="" class="navlink w-inline-block">
              <div class="navlink_text">F.A.Q</div>
            </a>
          </div>
          
          <div class="nav_menu_links_divider hide-td"></div>

          <div class="nav_menu_links_list">
              <a href="https://www.limova.ai/#process" data-menu-reveal="" class="navlink w-inline-block">
                <div class="navlink_text">Processus</div>
              </a>
              <a href="/integrations" data-menu-reveal="" class="navlink w-inline-block">
                <div class="navlink_text">Intégrations</div>
              </a>
          </div>
        </div>

        <div data-menu-reveal="" class="nav_menu_eyebrow"><div>Menu</div></div>
        <div data-menu-reveal="" class="nav_menu_button">
            <a href="/contact" class="btn_wrap w-inline-block" data-wf--interactive-button--variant="main">
                 <div class="btn_inner">
                    <span class="btn_text">Reserver une démo</span>
                 </div>
                 <div class="btn_bg"></div>
            </a>
        </div>
      </div>

      <div class="nav_button_row">
        <div data-nav-button="" class="nav_button_wrap">
          <a data-modal-trigger="" data-wf--interactive-button--variant="glass-small" href="/contact" class="btn_wrap w-inline-block">
            <div class="btn_inner">
                <span data-button-animate-chars="" class="btn_text">Reserver une démo</span>
                <div class="btn_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="btn_arrow"><path d="M6 18L18 6M18 6H10M18 6V14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="btn_arrow"><path d="M6 18L18 6M18 6H10M18 6V14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
            </div>
            <div class="btn_bg"></div>
          </a>
        </div>
        
        <button aria-label="toggle menu" class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none" class="menu-button__icon">
                <path d="M7.02441 0.2C7.02441 0.0895426 7.11396 0 7.22441 0H8.57441C8.68487 0 8.77441 0.0895431 8.77441 0.2V13.8C8.77441 13.9105 8.68487 14 8.57441 14H7.22441C7.11396 14 7.02441 13.9105 7.02441 13.8V0.2Z" fill="currentColor"></path>
                <path d="M14.6994 6.125C14.8099 6.125 14.8994 6.21454 14.8994 6.325V7.675C14.8994 7.78546 14.8099 7.875 14.6994 7.875L1.09941 7.875C0.988957 7.875 0.899414 7.78546 0.899414 7.675L0.899414 6.325C0.899414 6.21454 0.988957 6.125 1.09941 6.125L14.6994 6.125Z" fill="currentColor"></path>
                <path d="M8.77441 4.375V6.125H10.5244C9.55798 6.125 8.77441 5.34143 8.77441 4.375Z" fill="currentColor"></path>
                <path d="M8.77441 9.625V7.875H10.5244C9.55798 7.875 8.77441 8.65857 8.77441 9.625Z" fill="currentColor"></path>
                <path d="M7.02441 4.375V6.125H5.27441C6.24084 6.125 7.02441 5.34143 7.02441 4.375Z" fill="currentColor"></path>
                <path d="M7.02441 9.625V7.875H5.27441C6.24084 7.875 7.02441 8.65857 7.02441 9.625Z" fill="currentColor"></path>
            </svg>
            <div data-bg="glass" class="menu-button_bg"></div>
        </button>
      </div>

    </div>
  </nav>
  <div class="header_bg"></div>
  <div class="menu_bg"></div>
</div>